@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menuIcon {
    @apply w-[22px] h-[22px] text-gray-500;
  }
  .menuIconAlt {
    @apply stroke-gray-500 fill-gray-500;
  }
  .menuIconAlt1 {
    @apply stroke-gray-500;
  }
  button:hover .menuIcon {
    @apply text-black;
  }
  button:hover .menuIconAlt {
    @apply stroke-black fill-black;
  }
  button:hover .menuIconAlt1 {
    @apply stroke-black;
  }
}
